<section id="app-details">
  <div class="container">
    <h2 class="section-title" id="section-title"></h2>
    <div class="app-row">
      <div class="app-description-column app-details-card app-content">
        <h2 id="app-title"></h2>
        <div id="app-description"></div>
        <ul id="app-features" class="app-features"></ul>
      </div>
      <div class="app-info-column app-details-card">
        <img id="icon" class="app-image" alt="App Icon">
        <div class="app-download-info">
            <span class="app-version">
                <span id="version"></span>: 
                <span class="ver-text" id="app-version-text">...</span>
            </span>
            <a id="repo-btn" class="download-btn" title="">
                <i class="fas fa-info-circle"></i>
            </a>
            <a id="download-btn" class="download-btn" title="">
                <i class="fas fa-download"></i>
            </a>
        </div>
      </div>
    </div>

    <h2 class="section-title" id="section-screenshots"></h2>
    <div class="app-screenshots app-details-card" id="app-screenshots"></div>
    
    <h2 class="section-title" id="section-comments"></h2>
    <div class="app-comments app-details-card" id="comments">
      <div id="giscus-loading" class="giscus-loading"><span data-i18n="loading_comments"></span></div>
    </div>
  </div>

  <div class="modal" id="imageModal">
    <button class="close-modal">&times;</button>
    <img class="modal-image" id="modalImage">
  </div>
</section>
