<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3 data-i18n="about_us"></h3>
                <p data-i18n="about_desc"></p>
                <div class="social-links">
                    <a href="https://www.youtube.com/@roozegaarofficial"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.instagram.com/roozegaarofficial/"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/MEHDIMYADI"><i class="fab fa-github"></i></a>
                </div>
            </div>

            <div class="footer-section">
                <h3 data-i18n="quick_links"></h3>
                <ul class="footer-links" id="footer-links"></ul>
            </div>

            <div class="footer-section">
                <h3 data-i18n="contact_us"></h3>
                <ul class="footer-links">
                    <li><i class="fas fa-envelope"></i> mahdi2006d@gmail.com</li>
                    <li><i class="fas fa-phone"></i> <span dir="ltr">Call us: ASAP!</span></li>
                    <li><i class="fas fa-map-marker-alt"></i> <span data-i18n="address"></span></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p id="footer-copyright"></p>
        </div>
    </div>
</footer>