<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3 data-i18n="about_us"></h3>
                <p data-i18n="about_desc"></p>
                <div class="social-links">
                    <a href="https://www.youtube.com/@roozegaarofficial"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.instagram.com/roozegaarofficial/"><i class="fab fa-instagram"></i></a>
                    <a href="https://t.me/RoozegaarOfficial"><i class="fab fa-telegram"></i></a>
                    <a href="https://github.com/MEHDIMYADI"><i class="fab fa-github"></i></a>
                </div>
            </div>

            <div class="footer-section">
                <h3 data-i18n="quick_links"></h3>
                <ul class="footer-links" id="footer-links"></ul>
            </div>

            <div class="footer-section">
                <h3 data-i18n="contact_us"></h3>
                <ul class="footer-links">
                    <li><i class="fas fa-envelope"></i> <a href="mailto:mahdi2006d@gmail.com" class="footer-links" data-i18n="support"></a></li>
                    <li><i class="fas fa-phone"></i> <span data-i18n="call_me"></span></li>
                    <li><i class="fas fa-map-marker-alt"></i> <span data-i18n="address"></span></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p id="footer-copyright"></p>
            <a href="https://roozegaar.ir" target="_blank" rel="noopener noreferrer" class="footer-link">R<img src="/favicon.ico" alt="o" style="width:24px;height:19px;vertical-align:middle;margin:0 1px;filter: drop-shadow(0 1px 2px rgba(0,0,0,0.4));">ZEGAAR</a>
        </div>
    </div>
</footer>
