<header>
  <div class="container">
    <div class="header-content">
      <a href="#" class="logo"></a>

      <ul class="nav-links"></ul>
      
      <div class="controls-wrapper">
        <button class="mobile-menu-btn">
          <i class="fas fa-bars"></i>
        </button>
        <div class="header-controls">
          <button class="theme-toggle" aria-label="theme">
            <i class="fas fa-moon"></i>
          </button>
          <button class="lang-toggle" aria-label="language"><span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>