<section id="project">
  <div class="container">
    <h2 class="section-title" id="section-title"></h2>
    <div class="project-row">
      <div class="project-description-column project-page-card project-content">
        <h2 id="project-title"></h2>
        <div id="project-description"></div>
        <ul id="project-features" class="project-features"></ul>
      </div>
      <div class="project-info-column project-page-card">
        <img id="icon" class="project-image" alt="Project Icon">
        <div class="project-download-info">
            <span class="project-version">
                <span id="version"></span>: 
                <span class="ver-text" id="project-version-text">...</span>
            </span>
            <a id="repo-btn" class="download-btn" title="">
                <i class="fas fa-info-circle"></i>
            </a>
            <a id="download-btn" class="download-btn" title="">
                <i class="fas fa-download"></i>
            </a>
        </div>
      </div>
    </div>

    <h2 class="section-title" id="screenshots"></h2>
    <div class="project-screenshots project-page-card" id="project-screenshots"></div>
    
    <h2 class="section-title" id="comment"></h2>
    <div class="project-comments project-page-card" id="comments">
      <div id="giscus-loading" class="giscus-loading"><span data-i18n="loading_comments"></span></div>
    </div>
  </div>

  <div class="modal" id="imageModal">
    <button class="close-modal">&times;</button>
    <img class="modal-image" id="modalImage">
  </div>
</section>
